In [1]:
import json
import pandas as pd
import numpy as np

In [8]:
# Read data
with open('for_ML_team000.json') as json_file:
    data = json.load(json_file)

In [9]:
# Write quick function to read into 2D
# Will take a specific label return a 2D pandas dataframe
def load_2D(data, key):
    # Iterate through list elements to flatten
    l = []
    for s in data[key]['data']:
        l_ = []
        # Manually append first 3 elements
        l_.append(s[0])
        l_.append(s[1])
        l_.append(s[2])
        
        # Iterate through array element and append
        for d in s[3]:
            l_.append(d)
            
        # Finally append to L
        l.append(l_)
        
    # Also flatten header
    h = []
    head = data[key]['header']
    h.append(head[0])
    h.append(head[1])
    h.append(head[2])
    for t in head[3]:
        h.append(t)
        
    return pd.DataFrame(l, columns=h)

In [20]:
df_C = load_2D(data, 'C')
df_R = load_2D(data, 'R')
df_L = load_2D(data, 'L')
df_U = load_2D(data, 'U')
df_D = load_2D(data, 'D')
df_O = load_2D(data, 'O')

df_O

,Label,Observation,Channel,700.0,704.0,708.0,712.0,716.0,720.0,724.0,...,3260.0,3264.0,3268.0,3272.0,3276.0,3280.0,3284.0,3288.0,3292.0,3296.0
0,O,0,0,-0.491856,6.723450,2.385596,-21.844871,-33.287164,-21.548742,-10.348723,...,110.258942,106.262507,113.033757,109.811611,101.291504,104.701396,120.139056,125.394359,108.500007,98.969405
1,O,0,1,48.560338,114.858302,96.327116,-80.965357,32.334800,91.046703,-15.127250,...,47.033889,62.427823,129.679302,82.164847,-33.047397,-28.288436,36.574589,90.064246,21.233068,10.175284
2,O,0,2,71.918918,50.412463,47.196833,8.994823,20.861047,95.538925,83.373928,...,-264.859552,-245.427083,-219.389847,-257.247542,-272.921638,-291.844318,-276.349445,-230.312347,-274.507283,-251.843036
3,O,1,0,3.257958,12.095103,30.927937,31.251769,25.166428,29.460457,25.652304,...,55.677378,58.325810,75.491211,78.045503,55.154468,52.578859,56.912452,51.687627,51.675347,55.414428
4,O,1,1,-16.908200,4.041729,-11.835063,-11.399431,22.276603,74.698388,2.637319,...,-101.006916,-70.076615,-55.715043,-58.164414,-50.159739,-52.053537,-58.410846,-48.068495,-66.535456,-99.979834
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,O,47,1,-17.677550,-10.837570,41.777345,4.012530,-27.659795,65.788853,126.167099,...,58.065636,74.358889,46.112254,34.990030,22.675040,47.311312,54.749614,54.301864,49.208663,62.215434
143,O,47,2,3.176219,-33.866483,52.594268,74.519490,17.981965,11.036449,86.866524,...,-19.051701,-5.297787,9.924398,-15.960107,-28.609037,-12.653414,-14.846788,-2.258926,-5.947195,-3.998381
144,O,48,0,41.806134,44.858196,31.041856,30.308854,42.710188,28.761178,12.520944,...,11.377560,5.808308,13.638190,10.815125,13.088721,10.945519,10.101076,13.833587,14.335540,14.091903
145,O,48,1,15.498512,33.715148,7.386491,2.870163,49.966195,-14.891918,-34.190314,...,148.286089,154.911331,-135.894450,-127.635874,-100.891077,-108.172197,-86.673122,8.003865,5.145713,31.257980
146,O,48,2,-46.418590,-28.005145,-25.079111,-25.156324,-3.352749,-33.346703,-63.217962,...,91.385051,163.376973,29.371123,-29.210669,-9.534467,-44.596240,-1.044703,29.591921,68.518115,119.499422

In [17]:
pd.concat([df_C, df_D, df_L, df_O, df_R, df_U])

,Label,Observation,Channel,-300.0,-296.0,-292.0,-288.0,-284.0,-280.0,-276.0,...,3260.0,3264.0,3268.0,3272.0,3276.0,3280.0,3284.0,3288.0,3292.0,3296.0
0,C,0,0,-8.523105,1.060072,5.094674,-4.418810,-2.274065,2.800993,0.544431,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,C,0,1,11.439652,27.787212,21.841304,-31.391302,-24.323760,20.038773,87.677701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C,0,2,2.602204,-23.447373,5.129281,16.067549,-1.530585,-10.371081,1.644617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,C,1,0,7.570365,5.628779,-8.003818,-10.174433,-8.512499,-4.762281,-3.820211,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C,1,1,54.205484,22.958228,-39.004937,-41.104488,-20.340720,5.096123,32.258187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,U,8,1,16.959283,82.321351,43.157510,-20.534277,-29.519244,-14.289391,-7.479600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,U,8,2,1.065849,20.254414,46.919766,-9.224325,-39.001183,-12.654211,-4.259446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,U,9,0,-6.307549,-7.325895,2.124148,-5.972947,-5.393895,3.244463,-2.774871,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,U,9,1,-39.896054,-87.549540,-7.265916,-22.320364,-7.727263,46.113473,22.552638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,U,9,2,23.768891,-96.343603,-25.301786,-19.826043,-3.667085,18.264787,-4.298169,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN